h1 {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: auto;
    background-image: url(poster-img-mb.webp);
    font-family: sage;
    padding-right: 350px;
    padding-left: 350px;
}

.menu {
    text-align: center;
    padding-left: 20px;
}

a {
    margin: 30px;
    font-size: 30px;
    text-decoration: none;
    padding: 20px;
    color: #808183;
    font-family: sage;

}

a:hover {
    color: white;
}

.logo {
    margin: auto;
    text-align: center;
    padding-top: 20px;
}

#logo {
    margin-bottom: 30px;
    width: 100px;
}

@font-face {
    font-family: sage;
    src: url(Menseal-SemiBold.ttf);
}

#car {
    width: 700px;
    border-radius: 50px;
    border: 5px solid #808183;
    margin: auto;
}

.car {
    margin: auto;
    text-align: center;
}

p {
    color: #808183;
    text-align: center;
}

.topdiv {
    padding-top: 50px;
    font-size: 30px;
}

.bottomdiv {
    font-size: 40px;
    word-spacing: 8px;
    line-height: 10px;
}

.page {
    background-color: rgb(43, 42, 42);
    height: 100vh;
}


